*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.image1-container {
    position: relative;
    

}
.darknight{
    width: 100%;
    height:400px ;
}

.overlay-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #fff; 
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    text-align: center;
}
.intro{
    width:450px;
    margin-top:7%;
}
.learn{
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 2px;
    color: whitesmoke;
}
.objects1-container{
    
    background-color:whitesmoke;
    width:100%;
}
.flexcenter{
    display: flex;
    justify-content: center;
}
.heading{
    text-align: center;
    color:rgb(58, 57, 57);
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    border-bottom: 1px solid rgb(166, 162, 162);
    padding-bottom: 20px;


}
.images1-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width:100% ;
    height:auto;
    gap: 3rem;
    align-items: center;
    font-family: sans-serif;
}
.title{
    font-size: 1em;
    text-align:left;
    font-family: Arial;
    font-weight: bold;
    color: rgb(85, 82, 82);
    margin-top: 15px;
}
.content{
    font-size: smaller;
    color: gray;
    text-align: left;
    border-bottom: 1px solid rgb(141, 137, 137);
    padding-bottom: 20px;
    border-bottom-style: dotted;
}

 p{
    margin-bottom:20px;
} 

.pics{
    flex: 1;
    min-width:32%;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 100px;
  
}
.icon-size{
    font-size: 10px;
    color: gray;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.image2-container {
    position: relative;

}
.star{
    width: 100%;
    height: 300px;
}

.objects2-container{
    position: relative;
    background-color:whitesmoke;
    width:100%;
    height:800px ;
}
.heading2{
    text-align: center;
    color:rgb(69, 66, 66);
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    border-bottom: 1px solid rgb(141, 137, 137);
    padding-bottom: 20px;
}

.images2-container{
    margin-left:10% ;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    height:auto;
    align-items: center;
    font-family: sans-serif; 

}
.pics2{
    background-color: white;
    border-radius: 5px;
    text-align: center;
    min-width: 15% ;
    margin-top: 100px;
    height: fit-content;
}
.words{
    color: rgb(66, 65, 65);
    font-size:12px;
    font-family: Arial, sans-serif;
}
.books{
    width: 200px ;
    height: 150px;
}

.portfolio{
    position: absolute;
    top:92%;
    left: 45%;
    padding: 4px 8px;
    border: 2px;
    border-radius: 5px;
    background-color:rgb(98, 214, 214);
    color:white;
}
.brands-container{
        background-color:white;
        width:100%;
        height:auto ;
}
.heading3{
    text-align: center;
    color:rgb(56, 55, 55);
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    border-bottom: 1px solid rgb(141, 137, 137);
    padding-bottom: 20px;
}
.images3-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    height: 50vh;
    gap: 5px;
    align-items: center;
    font-family: sans-serif;
}
.pics3{
    flex: 1;
    min-width:24%;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
  
}
.workprocess{
    background-color: rgb(67, 63, 63);
    width:100%;
    height:250px;

}
.heading4{
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    margin-top:3%;

}
.content2{
    color: white;
    font-family: sans-serif;
    width:65%;
    text-align: left;
    margin-top: 4%;
    margin-left:10%;
}
 @media  (max-width: 680px) {
    
    .darknight {
        width: 100%;
        height: auto;
    }


    .overlay-text {
        font-size: 1rem;
        padding: 10px;
        margin-top: 60px;
    }


    .learn {
        left: 50%;
        transform: translateX(-50%);
    }
    .pics{
        min-width: 100%;
    }

    .pics2{
        min-width:40%;
    }
    .pics3{
         min-width:45%;
        text-align:center;
    }
    .star{
        width: 100%;
        height: auto;
    }

    .objects1-container, .objects2-container {
        width: 100%;
    }

    .portfolio {
        left: 45%;
        transform: translateX(-50%);
    }

}








   


